# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db


# in .gitignore
vista_hr_backend/.env
vista_hr_backend/.env.*
!vista_hr_backend/.env.example